body
{
	background: url(icegif-1115.gif) no-repeat center fixed;
    margin: 0;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
}

.mob1 {
  position: relative !important;
   left: 29% !important;
   border:red !important;
   font-size: 195% !important;
   color: white !important;
   background-color: red !important;
   border-radius: 2em !important;
   width: 35% !important;
   top: -62px !important;
}

.image-container {
    position: relative;
    width: 56%; /* Adatta la larghezza come preferisci */
    height: auto; /* Mantieni la proporzioni dell'immagine originale */
    margin-top: -3%;
    left: -3%;
    text-align: center;
  }
  

  .image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-9%, -5%);
  }
  
  .image-container img:first-child{
    width: 85%;
  }
  .image-container img:last-child {
    z-index: 1; /* Sovrappone l'immagine 'mamma' sull'immagine 'mongolfiera' */
    transform: translate(57%, 242%);
    width: 35%;
  }

  .buona {
    width: 28%;
    transform: translate(81%, 65%) !important;
  }

 .festa {
    transform: translate(59%, 115%) !important;
    width: 34%;
 }   


 .della {
    transform: translate(70%, 221%) rotate(-2deg) !important;
    width: 31%;
    z-index: 1;
 }

 .data{
    position: relative;
    text-align: center;
    font-size: 750% !important;
    left: 24%;
    color: red;
    font-style: italic;
    font-family: cursive;
    width: 100%;
    transform: translate(-27%, -15%);
    }


 @media (orientation:portrait) {
    .image-container {
        width: 190%;
        transform: translate(-44%, 50%);
        text-align: center;
        margin-top: 26%;
     }
    .data{
    position: relative;
    text-align: center;
    font-size: 750% !important;
    left: 24%;
    color: red;
    font-style: italic;
    font-family: cursive;
    width: 114%;
    transform: translate(-4%, 73%);
    }
   .mob1 {
    position: relative !important;
    left: 38% !important;
    border: red !important;
    font-size: 702% !important;
    color: white !important;
    background-color: red !important;
    border-radius: 2em !important;
    width: 83% !important;
    top: 176px !important;
   }
   }
   